*.class

# Package Files #
*.jar
*.war
*.ear
.DS_Store
.classpath
.project
.settings/
target/
.local.*
.*.swp
build
ec2/setenv.sh
ec2/support
ec2/controller
target
build-eclipse
src/gen
build.sh
*.iml
*.dot
*.hprof
trash
private
junit*.properties
(related)
*flow-monitor.html
*.log
*.db
*.id
*.arrays
*.fdx
*.fnm
*.frq
*.nrm
*.prx
*.tii
*.tis
*.fdt
*.lock
*.keys
*.names
graph.db/
oneWordTermFrequency.txt

